<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me!</span></h2>

    <form [formGroup]="form" action="#">
        <div class="input-box">
            <input type="text" placeholder="Full name" formControlName="name">
            <input type="email" placeholder="Email Address" formControlName="email">
        </div>
        <div class="input-box">
            <input type="text" placeholder="Mobile Number" formControlName="phone">
            <input type="text" placeholder="Email Subject" formControlName="subject">
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" formControlName="message"></textarea>
        <button [disabled]="form.invalid" (click)="submit()" type="submit" value="Send Message" class="btn">Send
            Message</button>
    </form>
</section>
