<section class="about" id="about">
    <div class="about-img">
        <img src="../../../assets/images/vini.jpg" alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Frontend Developer</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas sint, expedita officiis corrupti quia,
            voluptatem, fuga cum vero dolor distinctio iusto incidunt optio non et at voluptates. Incidunt sit veniam
            dolorem saepe adipisci eveniet nostrum sed quod obcaecati aspernatur sapiente officiis est, maxime
            dolorem saepe adipisci eveniet nostrum sed quod obcaecati aspernatur sapiente officiis est, maxime

            architecto et voluptate!</p>
        <a href="#" class="btn">Read More</a>
    </div>
</section>