<app-section [socialMidia]="false" [title]="myJorney.title" [textH3]="'Primeiros Passos'"
    [titleDescription]="profile.AboutMeSummary" [subTitle]="myJorney.subTitle"
    [subTitleDescripton]="myJorney.subtileDescripton"></app-section>

<app-section [bgContent]="'read-more-second'" [socialMidia]="false" [title]="myApproach.title"
    [titleDescription]="myApproach.titleDescription" [subTitle]="myApproach.subTitle"
    [subTitleDescripton]="myApproach.subtileDescripton"></app-section>

<app-section [socialMidia]="false" [title]="myPassions.title" [titleDescription]="myPassions.titleDescription"
    [subTitle]="myPassions.subTitle" [subTitleDescripton]="myPassions.subtileDescripton"></app-section>

<app-section [bgContent]="'read-more-second'" [socialMidia]="true" [title]="myVision.title"
    [titleDescription]="myVision.titleDescription" [subTitle]="'Resumo'" [subTitleDescripton]="resume"></app-section>