<section>
    <div class="main-content">
        <span>SOFTWARE DEVELOPER</span>
        <h1>Vinicius Politta</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum.
            Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas. Nulla at risus.</p>
        <button-primary [text]="textBtn"></button-primary>
    </div>
    <app-main-animation></app-main-animation>

</section>