<section class="home" id="home">
    <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1>{{ me.name }}</h1>
        <h3>And I'm a <span class="multipe-text"></span></h3>
        <p>{{ me.me }}</p>
        <div class="social-media">
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            <a href=""><i class='bx bxl-instagram-alt'></i></a>
            <a href=""><i class='bx bxl-github'></i></a>
            <a href=""><i class='bx bxl-linkedin-square'></i></a>
        </div>
        <a href="#" class="btn">Download CV</a>
    </div>
    <div class="home-img">
        <img src="../../../assets/images/vini-removebg.png" alt="">
    </div>

</section>