<!-- <section>
    <div class="main-content">
        <span>SOFTWARE DEVELOPER</span>
        <h1>Victor</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum.
            Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas. Nulla at risus.</p>
        <button-primary [text]="textBtn"></button-primary>
    </div>
    <app-main-animation></app-main-animation>

</section> -->

<section class="home" id="home">
    <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1>Vinicius Politta</h1>
        <h3>And I'm a <span class="multipe-text"></span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi culpa possimus provident? Molestiae temporibus
            non magnam eum quas in qui ea reprehenderit earum. Labore quibusdam voluptates, fugiat nobis reiciendis
            quod.</p>
        <div class="social-media">
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            <a href=""><i class='bx bxl-instagram-alt'></i></a>
            <a href=""><i class='bx bxl-github'></i></a>
            <a href=""><i class='bx bxl-linkedin-square'></i></a>
        </div>
        <a href="#" class="btn">Download CV</a>
    </div>
    <div class="home-img">
        <img src="../../../assets/images/vini.jpg" alt="">
    </div>

</section>