.btn-primary {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;

    color: #DBFFFF;
    background: rgb(82, 34, 208);
    background: linear-gradient(85deg, rgba(82, 34, 208, 1) 41%, rgba(255, 97, 150, 1) 96%);
    border: none;
    border-radius: 8px;
}