.btn-primary {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;

    color: #DBFFFF;
    background: rgb(6, 31, 246);
    background: linear-gradient(85deg, rgba(6, 31, 246, 1) 0%, rgba(82, 34, 208, 1) 50%, rgba(255, 97, 150, 1) 100%);
    border: none;
    border-radius: 8px;
}