<section class="services" id="services">
  <h2 class="heading">Our <span>Services</span></h2>

  <div class="services-container">
    <div class="services-box">
      <i class='bx bxs-data'></i>
      <h3>Fullstack Development</h3>
      <p>Experiência em diversas tecnologias, incluindo front-end (Angular, React, React Native) e back-end (Java
        Spring, .NET, Node.js) IaC(Terra Form) entre outros. Domínio de bancos de dados relacionais (SQL Server, PostgreSQL) e experiência em cloud
        computing (AWS).</p>

      <a href="https://github.com/vinipolitta" target="_blank" class="btn">Read More</a>
    </div>



  </div>
</section>
