<section class="services" id="services">
    <h2 class="heading">Our <span>Services</span></h2>

    <div class="services-container">
        <div class="services-box">
            <i class='bx bxs-data'></i>
            <h3>Fullstack Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur inventore dicta est molestiae, corrupti
                doloremque sint hic dolores sapiente minus?</p>

            <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
            <i class='bx bx-code-block'></i>
            <h3>Backend Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur inventore dicta est molestiae, corrupti
                doloremque sint hic dolores sapiente minus?</p>

            <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
            <i class='bx bxs-data'></i>
            <h3>Fullstack Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur inventore dicta est molestiae, corrupti
                doloremque sint hic dolores sapiente minus?</p>

            <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
            <i class='bx bxs-data'></i>
            <h3>Fullstack Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur inventore dicta est molestiae, corrupti
                doloremque sint hic dolores sapiente minus?</p>

            <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
            <i class='bx bxs-data'></i>
            <h3>Fullstack Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur inventore dicta est molestiae, corrupti
                doloremque sint hic dolores sapiente minus?</p>

            <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
            <i class='bx bxs-data'></i>
            <h3>Fullstack Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur inventore dicta est molestiae, corrupti
                doloremque sint hic dolores sapiente minus?</p>

            <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
            <i class='bx bxs-data'></i>
            <h3>Fullstack Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur inventore dicta est molestiae, corrupti
                doloremque sint hic dolores sapiente minus?</p>

            <a href="#" class="btn">Read More</a>
        </div>

    </div>
</section>