<section class="portifolio" id="portifolio">
    <h2 class="heading">Latest <span>Project</span></h2>

    <div class="portifolio-container">
        <div class="portifolio-box">
            <img src="../../../assets/images/vini.jpg" alt="">
            <div class="portifolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, iure.</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
        <div class="portifolio-box">
            <img src="../../../assets/images/vini.jpg" alt="">
            <div class="portifolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, iure.</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
        <div class="portifolio-box">
            <img src="../../../assets/images/vini.jpg" alt="">
            <div class="portifolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, iure.</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
        <div class="portifolio-box">
            <img src="../../../assets/images/vini.jpg" alt="">
            <div class="portifolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, iure.</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
    </div>
</section>