<section class="portifolio" id="portifolio">
  <h2 class="heading">Latest <span>Project</span></h2>

  <div class="portifolio-container">
    <div class="portifolio-box" *ngFor="let item of combinedPortifolio">
      <img [src]="item.img" alt="{{ item.name }}">
      <div class="portifolio-layer">
        <h4>{{ item.name }}</h4>
        <p>{{ item.description }}</p>
        <a [href]="item.html_url" target="_blank"><i class='bx bx-link-external'></i></a>
      </div>
    </div>

  </div>
</section>
